:root {
    --color-white: #f3f3f3;

    --color-background: #f8f7f7;
    --color-background-complement: #f1f1f1;

    --color-text: #151515;
    --color-text-complement: #3b3b3b;
    --color-text-unimportant: #585858;
    --color-text-unimportant2: #898989;

    --color-primary: #e5e5eb;
    --color-secondary: #cdcddb;

    --ship-size: 2rem;
}

#popupBg {
    position: absolute;
    z-index: 100;
    bottom: 5rem;
    right: 2rem;
    background: rgba(35, 35, 35, 0.9);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    padding: 1rem;
    width: 26rem;
    height: auto;
    overflow: hidden;
}

#popupBody {
    position: relative;
    display: flex;
    flex-direction: column;
}

#popupBodyButtons {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

#popupBodyInfo {
    position: relative;
    display: flex;
    flex-direction: row;
}

#popupIconContainer {
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#popupBg h2 {
    color: var(--color-white);
    font-size: 1rem;
    margin: 0;
}

#popupText {
    color: var(--color-text-unimportant2);
    font-size: .8rem;
}

#closeButtonX {
    position: absolute;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    color: var(--color-text-unimportant);
    font: inherit;
    cursor: pointer;
    top: -.5rem;
    right: -.5rem;
}

#popupColor {
    position: absolute;
    top: -10rem;
    left: -10rem;
    background: rgba(77, 255, 83, 0.1);
    filter: blur(20px);
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
}

#popupIcon {

}